$mediaQueries: (
  SMALL: '(min-width: 480px)',
  MEDIUM: '(min-width: 720px)',
  LARGE: '(min-width: 1024px)'
);

$example: (
  colors: (bodyBg: rgb(255, 255, 255), text: rgb(51, 51, 51), border: rgb(170, 187, 204)),
  borderRadius: 15.5px,
  width: 50%,
  hasPadding: true,
  hasMargin: false,
  fonts: ('Arial', 'Helvetica'),
  fontIndex: 1,
  content: null
);

$color: 'red';

$marginTop: 10px;

